<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Dashboard</h1>
    <p>Welcome, <%= user.name %>!</p>
    <p>Manage catways and reservations from here.</p>
    <ul>
        <li><a href="/catways">View all catways</a></li>
        <li><a href="/catways/new">Create a new catway</a></li>
    </ul>
</body>
</html>
