<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation de l'API</title>
</head>
<body>
    <h1>Documentation de l'API</h1>
    <p>Voici les endpoints disponibles pour interagir avec l'API :</p>
    <ul>
        <li>GET /catways</li>
        <li>GET /catways/:id</li>
        <li>POST /catways</li>
        <li>PUT /catways/:id</li>
        <li>DELETE /catways/:id</li>
        <li>GET /catways/:id/reservations</li>
        <li>GET /catways/:id/reservations/:idReservation</li>
        <li>POST /catways/:id/reservations</li>
        <li>DELETE /catways/:id/reservations/:idReservation</li>
    </ul>
</body>
</html>
