<!DOCTYPE html>
<html>
<head>
    <title>API Documentation</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome to the Catway Management API</h1>
    <p>Use the following endpoints to interact with the API:</p>
    <ul>
        <li>GET /catways</li>
        <li>GET /catways/:id</li>
        <li>POST /catways</li>
        <li>PUT /catways/:id</li>
        <li>DELETE /catways/:id</li>
        <li>GET /catways/:id/reservations</li>
        <li>GET /catways/:id/reservations/:idReservation</li>
        <li>POST /catways/:id/reservations</li>
        <li>DELETE /catways/:id/reservations/:idReservation</li>
    </ul>
</body>
</html>
