<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails de la Réservation</title>
</head>
<body>
    <h1>Détails de la Réservation</h1>
    <p>Client: <%= reservation.clientName %></p>
    <p>Bateau: <%= reservation.boatName %></p>
    <p>Date de début: <%= reservation.checkIn %></p>
    <p>Date de fin: <%= reservation.checkOut %></p>
</body>
</html>
